.bg{
    background-image: url(img/background.png);
    width: 100%;
    height: 800px;
    
    
    
}
.bodyy ul{
    margin-left: 250px;
    font-size: 20px;
    gap: 20px;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
   
    
}

.bodyy button{
   margin-right: 5px;
   background-color: blue;
   color: white;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}
.bodyy img{
   margin-left: 90px;
}
.bodyy .img2{
   margin-right: 40px;
}

.hero h1{
    color: white;
    font-size: 80px;
    margin-left:90px;
    margin-top:100px ;
}
.hero h2{
    color: white;
    margin-left: 90px;
    padding: 10px;
}
.hero button{
    font-size: 20px;
    color: white;
    margin-left: 90px;
    margin-top: 100px;
    width: 15%;
    height: 50px;
    background-color:#0C9DDA;
}
.hero2 h2{
    font-size: 20px;
    margin-left: 400px;
}
.hero2 img{
    margin-left: 150px;
}

.hero3{
    background-color: black;
    width: 100%;
    height: 400px;
}
.hero3 h2{
    color: white;
    margin-left: 550px;
    padding-top: 50px;
}

.boxes{
    gap: 50px;
    display: flex;
    margin-left: 230px;
    padding-top: 50px;
}
.box{
    border: 1px solid #0C9DDA;
    width:250px;
    height: 130px;
    border-radius: 20px;
    
    
}
.box1{
    border: 1px solid #0C9DDA;
    width:250px;
    height: 130px;
    border-radius: 20px;
    
    
}
.box2{
    border: 1px solid #0C9DDA;
    width:250px;
    height: 130px;
    border-radius: 20px;
    
    
}
.box h3{
    font-size: 15px;
    color: white;
    margin-left: 80px;
    margin-top: 30px;
    font-family: Roboto;
}
.box1 h3{
    font-size: 15px;
    color: white;
    margin-left: 80px;
    margin-top: 30px;
    font-family: Roboto;
}
.box2 h3{
    font-size: 15px;
    color: white;
    margin-left: 80px;
    margin-top: 30px;
    font-family: Roboto;
}
.box h4{
    font-size: 10px;
    color: white;
    margin-left: 50px;
    align-items: center;
    font-family:Roboto;
    padding-top: 10px;
    

}
.box1 h4{
    font-size: 10px;
    color: white;
    margin-left: 50px;
    align-items: center;
    font-family:Roboto;
    ;
    

}
.box2 h4{
    font-size: 10px;
    color: white;
    margin-left: 50px;
    align-items: center;
    font-family:Roboto;
    
    

}
.box img{
    width: 1%;
    position: absolute;
    margin-left: 60px;
    padding-top: 32px;
   
    
}
.box1 img{
   width:5%;
   bottom: 30px;
   position: relative;
   margin-left: 60px;
   
    
}
.box2 img{
    width: 5%;
    position: relative;
    bottom: 30px;
    margin-left: 60px;
    
    
   
    
}
.hero4{
    border: 2px solid grey;
    

}

.section{
    background-color: black;
    height: 600px;
    width: 100%;
    display: flex;
}
.section h1{
    color: white;
    padding: 90px 100px;
    

}
.section ul {
    color: white;
    bottom: 80px;
    top: 150px;
    position: relative;
    right: 250px;
    

} 
.imgunknown img{
    margin-top: 90px;
    width: 80%;
}

.section2{
    background-color: black;
    height: 500px;
    width: 100%;
    display: flex;
}

.section2 img{
    margin-left: 100px;
}
.section2 h1{
    margin-left: 120px;
    color: white;
}
.section2 ul{
    position: relative;
    color: white;
    margin-top: 80px;
    right: 160px;

}
.section3{
    background-color: black;
    height: 500px;
    width: 100%;
    
}
.section3 p{
    color: white;
    font-size: 15px;
    margin-left: 110px;
    position: absolute;
    margin-top: 80px;
    font-family: Roboto;
    

    
}
.section3 h1{
    color: white;
    font-size: 75px;
    padding: 100px 100px 30px;

    
}

.section3 h3{
    color: white;
    font-size: 20px;
    margin-left: 110px;
    font-family: Roboto;
    position: relative;
   
    
    

    
}
.section4{
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
}
.section4 h1{
    font-size: 30px;
    padding: 30px 100px;
    font-family: Roboto;

    
}

.input{
    width: 40%;
    height: 50px;
    padding: 30px 100px;
    margin-left: 100px;
    
}

.section5{
    background-color: rgb(13, 13, 13);
    height:400px;
    width: 100%;
    display: flex;
}